<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="css/index.css" th:href="@{css/index.css}">
  <link rel="stylesheet" href="css/swiper.min.css" th:href="@{css/swiper.min.css}">
  <script src="js/swiper.min.js" th:src="@{js/swiper.min.js}"></script>
  <script src="js/index.js" th:src="@{js/index.js}"></script>
  <script src="js/jquery-1.11.3.min.js" th:src="@{js/jquery-1.11.3.min.js}"></script>

  <script>
    function addUser(){
        // var path=[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        // alert(path);
        var user={
            "name":document.getElementById("name").value,
            "password":document.getElementById("password").value,
        };
        $.ajax({
            url:"http://localhost:8080/mobile/register",
            type:"POST",
            data:JSON.stringify(user),
            contentType:"application/json",
            dataType:"json",
            success:function(data){
                if(data=="200"){
                    alert("注册成功！");
                    window.location.href="http://localhost:8080/mobile/tomember";
                }

            }
        });
    }
  </script>
</head>
<body style="background-color: #EEEEEE">
<div id="div0">
  <a href="index.html"><span style="font-size: 28px;float: left;color: lightgray"><</span></a>
    <span style="font-size: 28px;">注册<span/>
</div>
<div id="login_div1">
  <img src="../static/img/loginlogo.png" th:src="@{/img/loginlogo.png}">
</div>
<div id="login_div2">
  <form id="regForm">
  <input type="text" name="name" id="name" placeholder="请输入用户名/手机号"><br>
  <input type="password" name="password" id="password" placeholder="请输入密码"><br>
  <input type="password" name="password1" id="password1" placeholder="请再次输入密码"><br>
  <button>获取验证码</button><input type="text" name="code" id="code" placeholder="请输入验证码"><br>
    <!--<button onclick="register()">注册</button>-->
  <input type="button" value="注册" onclick="addUser()"  style="font-size: 18px;background-color: #06A525">
  </form>

</div>
<footer th:include="footer::daohang">

</footer>
</body>
</html>
